<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
    <% @projects.each do | project | %>
        <tr>
            <td><%= link_to project.title, project_path(project) %></td>
            <td><%= project.description %></td>
            <td><%= link_to "Delete", project_path(project), method: :destroy %></td>
        </tr>
    <% end %>
    </tbody>
</table>